{% extends "base.html" %}

{% block title %}商品一覧ページ{% endblock %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">次は何に投資する？</h1>
            <p class="lead fw-normal text-white-50 mb-0">レベルを上げて次の世界を見にいこう</p>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products_list %}
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="badge bg-dark text-white position-absolute">セール中</div>
                    <img class="card-img-top"
                        src="{% if product.image %}{{ product.image.url }}{% else %}/static/setup_completed.png{% endif %}"
                        alt="{{ product.name }}">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                            </div>
                            <span class="text-muted text-decoration-line-through">{{ product.price }}</span>
                            {{ product.price }}
                        </div>
                    </div>
                    <div class="card-footer p-4 bg-transparent border-top-0">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto"
                                href="{% url 'shop:product_details' product.pk %}">詳細を見る</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}